@import "../../node_modules/bootswatch/dist/zephyr/bootstrap.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.portfolio-card {
  width: 18rem;
  height: 100%;
  cursor: pointer;
}

.border-dashed {
  border-style: dashed !important;
}

.w-10 {
  width: 10% !important;
}

.w-12 {
  width: 12% !important;
}

.w-15 {
  width: 15% !important;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
}

.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}