<button type="button"
        class="btn btn-secondary mb-2"
        onclick=""
>
    <span class="h2 bi bi-pie-chart-fill"></span>
</button>

<div class="card border-dark mb-3">

    <div class="card-header">Manage allocation plan data</div>

    <div class="card-body">
        <div id="accordion-allocation-plan-management"
             class="accordion container-fluid"
             hx-get="/api/portfolio/:portfolioId/allocation-plan"
             hx-include="[name='portfolioId']"
             hx-trigger="load, reload-allocation-plan-management"
             handlebars-template="template-allocation-plan-management"
             data-hx-transform-response="mapToCompleteAllocationPlans"
             data-hx-transform-response-on-route-matching="^\/api\/portfolio\/.+\/allocation\-plan$"
        >
        </div>
    </div>

</div>
