<div data-exclusive-display-container>

    <div class="accordion"
         id="accordion-allocation-plan"
         hx-get="/api/portfolio/:portfolioId/allocation-plan"
         hx-include="[name='portfolioId']"
         hx-trigger="load, reload-allocation-plans"
         handlebars-template="template-allocation-plan-item"
         hx-on::after-settle="initAllocationPlanHierarchyLabels()"
         data-display-on-route="/portfolio/:portfolioId/allocation"
    >
        <div class="accordion-item placeholder-glow">
            <h2 class="accordion-header placeholder col-12">placeholder</h2>
        </div>
        <div class="accordion-item placeholder-glow">
            <h2 class="accordion-header placeholder col-12">placeholder</h2>
        </div>
    </div>

    <div data-hx-trigger-on-route="/portfolio/:portfolioId/allocation/manage!load-allocation-plan-management"
         data-display-on-route="/portfolio/:portfolioId/allocation/manage"
         hx-get="/websrc/components/allocation-plan-management.html"
         hx-trigger="load-allocation-plan-management once"
         hx-on::after-settle="allocationPlanManagement.handleAfterSettle(event, this)"
    >
        <div class="card border-dark mb-3 placeholder-glow">
            <div class="card-header placeholder col-6">placeholder</div>
            <div class="card-body">
                <div class="accordion container-fluid">
                    <div class="accordion-item">
                        <h2 class="accordion-header placeholder col-12">placeholder</h2>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header placeholder col-12">placeholder</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script id="template-allocation-plan-item" type="text/x-handlebars-template">

    <button type="button"
            class="btn btn-outline-primary mb-2"
            onclick="navigateToPortfolioAllocationPlanManagement()"
    >
        <span class="h2 bi bi-database-gear"></span>
    </button>

    {{#each .}}
        <div class="accordion-item">

            <h2 class="accordion-header">
                <button class="accordion-button {{#unless @first}}collapsed{{/unless}}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#allocation-plan-{{id}}"
                        aria-controls="allocation-plan-{{id}}"
                >
                    {{name}}
                </button>
            </h2>

            <div id="allocation-plan-{{id}}"
                 class="accordion-collapse collapse {{#if @first}}show{{/if}}"
                 data-bs-parent="#accordion-portfolio"
            >
                <div class="accordion-body row justify-content-center">

                    <div class="col-12 d-flex flex-column align-items-center">
                        <div class="d-flex flex-row">
                            <p class="h4">Level:&nbsp;</p>
                            <p id="hierarchy-level-allocation-plan-chart-{{id}}" class="h4"></p>
                        </div>
                    </div>

                    <div class="col-xxl-6 d-flex justify-content-center" style="max-height: 750px">
                        {{{ chart
                                this
                                "ASSET_ALLOCATION_PLAN_1D"
                                "allocation-plan-chart-options"
                                "allocation-plan-chart"
                                id
                                "#portfolio-context #portfolio"
                        }}}
                    </div>

                </div>
            </div>
        </div>
    {{/each}}

</script>

<script type="text/javascript">

    function initAllocationPlanHierarchyLabels() {
        setTextContentWithTopHierarchyName("[id^='hierarchy-level-allocation-plan-chart-']");
    }

    function navigateToPortfolioAllocationPlanManagement() {
        const portfolioId = document.querySelector("[name='portfolioId']").value;
        navigateTo(`/portfolio/${portfolioId}/allocation/manage`);
    }

</script>

<script id="allocation-plan-chart-options" type="application/json">
    {
        "type": "doughnut",
        "measuramentUnit": "PERCENTAGE"
    }
</script>