<div id="datalist-container">

    <datalist id="datalist-classes"
              hx-get="/api/portfolio/:portfolioId/allocation-classes"
              hx-include="[name='portfolioId']"
              hx-trigger="load, load-classes"
              handlebars-template="template-monovalue-datalist"
    >
    </datalist>

    <datalist id="datalist-assets"
              hx-get="/api/asset"
              hx-trigger="load-assets"
              handlebars-template="template-asset-datalist"
              data-assets-initialized="false"
              hx-on::after-settle="this.dataset.assetsInitialized = true"
    >
    </datalist>

</div>

<script id="template-monovalue-datalist" type="text/x-handlebars-template">

    {{#each .}}

        {{#if (getProperty this ../propertyKey) }}
            <option value="{{getProperty this ../propertyKey}}">{{getProperty this ../propertyKey}}</option>
        {{else}}
            <option value="{{this}}">{{this}}</option>
        {{/if}}

    {{/each}}

</script>

<script id="template-asset-datalist" type="text/x-handlebars-template">

    {{> template-monovalue-datalist propertyKey="ticker"}}

</script>

<script id="asset-composed-columns-input" type="text/x-handlebars-template">

    <td>

        <input type="hidden"
               name="{{assetIdHiddenFieldName}}"
               value="{{assetId}}"
               data-null-if-empty
        />

        {{#if assetId}}
            {{assetTicker}}
        {{else}}

            <div class="input-group">

                <input type="text"
                       name="{{assetTickerFieldName}}"
                       placeholder="Asset ticker"
                       aria-label="Asset ticker"
                       autocomplete="off"
                       class="form-control"
                       value="{{assetTicker}}"
                       list="datalist-assets"
                       hx-validate="true"
                       hx-on::validation:validate="{{assetTickerFieldHTMXOnValidate}}"
                       oninput="maskTickerInput(this)"
                />
                <button data-asset-action-button
                        type="button"
                        class="btn btn-primary btn-xs"
                        onclick="{{assetActionButtonOnClick}}"
                >
                    <span class="bi bi-search"></span>
                </button>

            </div>

            <div data-new-asset-ticker-message
                 class="form-text"
                 style="display: none"
            >
                * Creating new asset
            </div>

        {{/if}}

    </td>

    <td>

        {{#if assetName}}
            {{assetName}}
        {{else}}
            <input type="text"
                   name="{{assetNameFieldName}}"
                   placeholder="Asset name"
                   aria-label="Asset name"
                   autocomplete="off"
                   class="form-control"
                   value="{{assetName}}"
                   style="display: none"
            />
        {{/if}}

    </td>

</script>

<script type="text/javascript">

    HandlebarsUtils.registerPartialToContainer(
        "datalist-container",
        "template-monovalue-datalist"
    );

    HandlebarsUtils.registerPartialToContainer(
        "datalist-container",
        "template-asset-datalist"
    );

    const datalistAssetsElement = window["datalist-assets"];

    function initAssetComposedColumnsInput(containerId) {

        HandlebarsUtils.registerPartialToContainer(
            containerId,
            "asset-composed-columns-input"
        );


        const assetsInitialized = datalistAssetsElement.dataset.assetsInitialized === 'true';
        if (!assetsInitialized) {
            htmx.trigger(datalistAssetsElement, "load-assets");
        }
    }

</script>