<div class="btn-group" role="group">

    <input type="radio" class="btn-check" name="btnradio" id="nav-radio-portfolio" autocomplete="off">
    <label class="btn btn-outline-primary" for="nav-radio-portfolio">Portfolio</label>

    <input type="radio" class="btn-check" name="btnradio" id="nav-radio-allocation-plan" autocomplete="off">
    <label class="btn btn-outline-primary" for="nav-radio-allocation-plan">Allocation Plan</label>

    <input type="radio" class="btn-check" name="btnradio" id="nav-radio-allocation-map"
           autocomplete="off">
    <label class="btn btn-outline-primary" for="nav-radio-allocation-map">Allocation Map</label>

</div>