<div data-exclusive-display-container>

    <div class="accordion mb-5"
         id="accordion-portfolio-history"
         hx-get="/api/portfolio/:portfolioId/history"
         hx-include="[name='portfolioId']"
         hx-trigger="load, reload-portfolio-history"
         handlebars-template="template-portfolio-history"
         hx-on::after-settle="initPortfolioHistoryHierarchyLabels()"
         data-display-on-route="/portfolio/:portfolioId/history"
    >
        <div class="accordion-item placeholder-glow">
            <h2 class="accordion-header placeholder col-12">placeholder</h2>
        </div>
        <div class="accordion-item placeholder-glow">
            <h2 class="accordion-header placeholder col-12">placeholder</h2>
        </div>
    </div>

    <div data-hx-trigger-on-route="/portfolio/:portfolioId/history/manage!load-portfolio-management"
         data-display-on-route="/portfolio/:portfolioId/history/manage"
         hx-get="/websrc/components/portfolio-history-management.html"
         hx-trigger="load-portfolio-management once"
         hx-on::after-settle="portfolioHistoryManagement.handleAfterSettle(event, this)"
    >
    </div>

</div>

<script id="template-portfolio-history" type="text/x-handlebars-template">

    <button type="button"
            class="btn btn-outline-primary mb-2"
            onclick="navigateToPortfolioAllocationManagement()"
    >
        <span class="h2 bi bi-database-gear"></span>
    </button>

    {{#each .}}

        <div class="accordion-item">

            <h2 class="accordion-header">
                <button class="accordion-button {{#unless @first}}collapsed{{/unless}}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#portfolio-allocation-{{observationTimestamp.id}}"
                        aria-expanded="true"
                        aria-controls="portfolio-allocation-{{observationTimestamp.id}}"
                >
                    {{observationTimestamp.timeTag}}
                </button>
            </h2>

            <div id="portfolio-allocation-{{observationTimestamp.id}}"
                 class="accordion-collapse collapse {{#if @first}}show{{/if}}"
                 data-bs-parent="#accordion-portfolio-history"
            >
                <div class="accordion-body row justify-content-center">

                    <div class="col-12 d-flex flex-column align-items-center">

                        <div><p class="h4">Total market value: {{formatCurrency totalMarketValue}}</p></div>

                        <div class="d-flex flex-row">
                            <p class="h4">Level:&nbsp;</p>
                            <p id="hierarchy-level-portfolio-chart-{{observationTimestamp.id}}" class="h4"></p>
                        </div>

                    </div>

                    <div class="col-xxl-6 d-flex justify-content-center" style="max-height: 750px">
                        {{{ chart
                                this
                                "PORTFOLIO_HISTORY_1D"
                                "portfolio-allocation-chart-options"
                                "portfolio-chart"
                                observationTimestamp.id
                                "#portfolio-context #portfolio"
                        }}}
                    </div>


                </div>
            </div>

        </div>

    {{/each}}

</script>

<script type="module">

    globalThis.initPortfolioHistoryHierarchyLabels = () => {
        setTextContentWithTopHierarchyName("[id^='hierarchy-level-portfolio-chart-']");
    }

    globalThis.navigateToPortfolioAllocationManagement = () => {
        const portfolioId = document.querySelector("[name='portfolioId']").value;
        navigateTo(`/portfolio/${portfolioId}/history/manage`);
    }

</script>

<script id="portfolio-allocation-chart-options" type="application/json">
    {
        "type": "doughnut",
        "cutout": "35%",
        "measuramentUnit": "CURRENCY"
    }
</script>
