<div data-exclusive-display-container>
    <div id="portfolios"
         hx-get="/api/portfolio"
         hx-trigger="load once, reload-portfolios"
         handlebars-template="portfolio-selection"
         data-display-on-route="/portfolios"
    >
        <div class="row justify-content-center align-items-stretch row-cols-auto my-5 gy-4">
            <div class="col">
                <div class="card portfolio-card placeholder-glow">
                    <div class="card-body">
                        <h5 class="card-title placeholder col-8">placeholder</h5>
                        <p class="card-text placeholder col-12">placeholder</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card portfolio-card placeholder-glow">
                    <div class="card-body">
                        <h5 class="card-title placeholder col-8">placeholder</h5>
                        <p class="card-text placeholder col-12">placeholder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="portfolio-selection" type="text/x-handlebars-template">

        <div class="row justify-content-center align-items-stretch row-cols-auto my-5 gy-4">

            {{#each this}}
                <div class="col">
                    <div class="card portfolio-card" data-navigate-to="/portfolio/{{id}}">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            {{/each}}

            <div class="col">
                <div class="card portfolio-card border border-primary border-dashed" data-navigate-to="/portfolios/new">
                    <div class="card-body">
                        <h5 class="card-title">New portfolio</h5>
                        <span class="display-4 bi bi-plus-circle-dotted"></span>
                    </div>
                </div>
            </div>

        </div>

    </script>

    <div class="row justify-content-center align-items-stretch row-cols-auto my-5"
         data-display-on-route="/portfolios/new"
         style="display: none"
    >
        <div class="col">
            <div class="card portfolio-card border border-primary border-dashed">
                <div class="card-header">
                    <span>New portfolio</span>
                </div>

                <form id="new-portfolio-form"
                      class="needs-validation"
                      hx-post="/api/portfolio"
                      hx-ext="form-json"
                      hx-validate="true"
                      hx-swap="none"
                      hx-on::after-request="reloadPortfolios(this)"
                      novalidate
                >
                    <div class="card-body">

                        <input type="text"
                               name="name"
                               class="form-control"
                               placeholder="Name"
                               aria-label="Name"
                               required
                               autocomplete="off"
                        />

                    </div>
                    <div class="card-footer text-end">
                        <button type="reset" class="btn btn-secondary" data-navigate-to="/portfolios">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>

                <script type="text/javascript">
                    function reloadPortfolios(form) {
                        if (form.checkValidity()) {
                            form.reset();
                            const portfoliosElement = document.querySelector("#portfolios");
                            htmx.trigger(portfoliosElement, "reload-portfolios");
                            navigateTo("/portfolios");
                        }
                    }
                </script>

            </div>
        </div>
    </div>
</div>