<!-- TODO move to components -->
<div data-exclusive-display-container>
    <div class="accordion"
         id="accordion-portfolio-history"
         hx-get="/api/portfolio/:portfolioId/history"
         hx-include="[name='portfolioId']"
         hx-trigger="load"
         handlebars-template="template-portfolio-history"
         hx-on-htmx-after-settle="initPortfolioHistoryHierarchyLabels()"
         data-display-on-route="/portfolio/:portfolioId/history"
    >
        <div class="accordion-item placeholder-glow">
            <h2 class="accordion-header placeholder col-12">placeholder</h2>
        </div>
        <div class="accordion-item placeholder-glow">
            <h2 class="accordion-header placeholder col-12">placeholder</h2>
        </div>
    </div>

    <div data-display-on-route="/portfolio/:portfolioId/history/manage">
        <div class="card border-dark mb-3">
            <div class="card-header">Manage portfolio allocation data</div>
            <div class="card-body">
                <div id="accordion-portfolio-history-management"
                     class="accordion"
                     hx-get="/api/portfolio/:portfolioId/history/observation"
                     hx-include="[name='portfolioId']"
                     hx-trigger="load"
                     handlebars-template="template-portfolio-history-management"
                >
                </div>
            </div>
        </div>
    </div>
</div>

<script id="template-portfolio-history" type="text/x-handlebars-template">

    <button type="button" class="btn btn-outline-primary mb-2" onclick="navigateToManagePortfolioAllocationData()">
        <span class="h2 bi bi-database-gear"></span>
    </button>

    {{#each .}}
        <div class="accordion-item">

            <h2 class="accordion-header">
                <button class="accordion-button {{#unless @first}}collapsed{{/unless}}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#portfolio-allocation-{{observationTimestamp.id}}"
                        aria-expanded="true"
                        aria-controls="portfolio-allocation-{{observationTimestamp.id}}"
                >
                    {{observationTimestamp.timeTag}}
                </button>
            </h2>

            <div id="portfolio-allocation-{{observationTimestamp.id}}"
                 class="accordion-collapse collapse {{#if @first}}show{{/if}}"
                 data-bs-parent="#accordion-portfolio-history"
            >
                <div class="accordion-body row justify-content-center">

                    <div class="col-12 d-flex flex-column align-items-center">

                        <div><p class="h4">Total market value: {{formatCurrency totalMarketValue}}</p></div>

                        <div class="d-flex flex-row">
                            <p class="h4">Level:&nbsp;</p>
                            <p id="hierarchy-level-portfolio-chart-{{observationTimestamp.id}}" class="h4"></p>
                        </div>

                    </div>

                    <div class="col-xxl-6 d-flex justify-content-center" style="max-height: 750px">
                        {{{ chart
                                this
                                "PORTFOLIO_HISTORY_1D"
                                "portfolio-allocation-chart-options"
                                "portfolio-chart"
                                observationTimestamp.id
                                "#portfolio-context #portfolio"
                        }}}
                    </div>


                </div>
            </div>

        </div>
    {{/each}}

</script>

<script id="template-portfolio-history-management" type="text/x-handlebars-template">

    {{#each .}}

        <div class="accordion-item">

            <h2 class="accordion-header"
                data-bs-parent="#accordion-portfolio-history-management"
                hx-include="[name='portfolioId']"
                hx-target="#portfolio-allocation-management-rows-{{id}}"
                hx-trigger="click"
                handlebars-template="template-portfolio-history-management-rows"
                hx-on-htmx-after-settle="initTags('portfolio-allocation-management-rows-{{id}}')"
                hx-get="/api/portfolio/:portfolioId/history?observationTimestampId={{id}}"
            >
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#portfolio-allocation-management-{{id}}"
                    aria-expanded="true"
                    aria-controls="portfolio-allocation-management-{{id}}"
            >
                {{timeTag}}
            </button>
            </h2>

            <div id="portfolio-allocation-management-{{id}}" class="accordion-collapse collapse">
                <div class="accordion-body row justify-content-center">

                    <form hx-post="/api/test" hx-ext="form-json">
                        <table class="table table-striped">

                            <thead class="sticky-header">
                            <tr>
                                <th scope="col" colspan="2">Asset</th>
                                <th scope="col">Class</th>
                                <th scope="col" class="w-10">Cash reserve?</th>
                                <th scope="col" class="w-15">Quantity</th>
                                <th scope="col" class="w-15">Market price</th>
                                <th scope="col" class="w-12">Total market value</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody class="table-group-divider" id="portfolio-allocation-management-rows-{{id}}">
                            </tbody>

                            <tfoot class="sticky-footer">
                            <tr>
                                <td colspan="8">
                                    <div class="d-flex w-100">
                                        <button class="btn btn-secondary"
                                                type="button"
                                                onclick="addPortfolioHistoryManagementRow({{id}})"
                                        >
                                            <span class="bi bi-plus-circle h5"></span>
                                        </button>
                                        <button class="btn btn-primary ms-auto" type="submit">
                                            <span class="bi bi-save-fill h5"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>

                        </table>
                    </form>

                </div>
            </div>

        </div>

    {{/each}}

</script>

<script id="template-portfolio-history-management-rows" type="text/x-handlebars-template">

    {{#each @root.[0].allocations}}
        {{> template-portfolio-history-management-row allocationIndex=@index observationTimestampId=@root.[0].observationTimestamp.id }}
    {{/each}}

</script>

<script id="template-portfolio-history-management-row" type="text/x-handlebars-template">

    <tr>
        <td>

            <input id="asset-id-input-alloc-{{allocationIndex}}-obs-{{observationTimestampId}}"
                   type="hidden"
                   name="allocations[{{allocationIndex}}][assetId]"
                   value="{{assetId}}"
            />

            {{#if assetId}}
                {{assetTicker}}
            {{else}}

                <div class="input-group">
                    <!-- TODO do search and manitpulate other fields -->
                    <!-- If found show name as label and button to remove -->
                    <!-- If not found show visual cue of new, button to cancel and field for name -->
                    <!-- Add ticker datalist -->
                    <input id="asset-ticker-input-alloc-{{allocationIndex}}-obs-{{observationTimestampId}}"
                           type="text"
                           name="allocations[{{allocationIndex}}][assetTicker]"
                           placeholder="Asset ticker"
                           aria-label="Asset ticker"
                           autocomplete="off"
                           required
                           class="form-control"
                           value="{{assetTicker}}"
                           list="datalist-assets"
                    />
                    <button id="asset-ticker-button-alloc-{{allocationIndex}}-obs-{{observationTimestampId}}"
                            type="button"
                            class="btn btn-primary btn-xs"
                            onclick="assetButtonActionClickHandler({{allocationIndex}}, {{observationTimestampId}})"
                    >
                        <span class="bi bi-search"></span>
                    </button>
                </div>
                <div class="form-text"
                     id="asset-ticker-message-alloc-{{allocationIndex}}-obs-{{observationTimestampId}}"
                     style="display: none"
                >
                    * Inserting new asset
                </div>

            {{/if}}

        </td>
        <td>
            {{#if assetName}}
                {{assetName}}
            {{else}}
                <input id="asset-name-input-alloc-{{allocationIndex}}-obs-{{observationTimestampId}}"
                       type="text"
                       name="allocations[{{allocationIndex}}][assetName]"
                       placeholder="Asset name"
                       aria-label="Asset name"
                       autocomplete="off"
                       class="form-control"
                       value="{{assetName}}"
                       style="display: none"
                />
            {{/if}}
        </td>
        <td>
            <input type="text"
                   name="allocations[{{allocationIndex}}][class]"
                   placeholder="Class"
                   aria-label="Class"
                   autocomplete="off"
                   class="form-control"
                   value="{{class}}"
                   list="datalist-classes"
                   oninput="maskTagInput(this)"
                   required
            />
        </td>
        <td class="align-middle text-center">
            <input type="checkbox"
                   name="allocations[{{allocationIndex}}][cashReserve]"
                   {{#if cashReserve}}checked{{/if}}
            />
        </td>
        <td>
            <input type="number"
                   name="allocations[{{allocationIndex}}][assetQuantity]"
                   placeholder="Quantity"
                   aria-label="Quantity"
                   autocomplete="off"
                   class="form-control"
                   value="{{assetQuantity}}"
                   step="any"
            />
        </td>
        <td>
            <input type="number"
                   name="allocations[{{allocationIndex}}][assetMarketPrice]"
                   placeholder="Market price"
                   aria-label="Market price"
                   autocomplete="off"
                   class="form-control"
                   value="{{assetMarketPrice}}"
                   step="any"
            />
        </td>
        <td>
            <input type="number"
                   name="allocations[{{allocationIndex}}][totalMarketValue]"
                   placeholder="Total market value"
                   aria-label="Total market value"
                   autocomplete="off"
                   class="form-control "
                   value="{{totalMarketValue}}"
                   required
            />
        </td>
        <td>
            <button type="button"
                    class="btn btn-danger btn-xs"
                    onclick="this.closest('tr').remove()"
            >
                <span class="bi bi-dash-circle"></span>
            </button>
        </td>
    </tr>

</script>


<datalist id="datalist-classes"
          hx-get="/api/portfolio/:portfolioId/allocation-classes"
          hx-include="[name='portfolioId']"
          hx-trigger="load, load-classes"
          handlebars-template="template-monovalue-datalist"
>
</datalist>

<datalist id="datalist-assets"
          hx-get="/api/asset"
          hx-trigger="load, load-assets"
          handlebars-template="template-asset-datalist"
>
</datalist>

<script id="template-monovalue-datalist" type="text/x-handlebars-template">

    {{#each .}}

        {{#if (getProperty this ../propertyKey) }}
            <option value="{{getProperty this ../propertyKey}}">{{getProperty this ../propertyKey}}</option>
        {{else}}
            <option value="{{this}}">{{this}}</option>
        {{/if}}

    {{/each}}

</script>

<script id="template-asset-datalist" type="text/x-handlebars-template">

    {{> template-monovalue-datalist propertyKey="ticker"}}

</script>

<script type="text/javascript">

    HandlebarsUtils.registerPartialToContainer(
        "accordion-portfolio-history",
        "template-portfolio-history-management-row"
    );

    HandlebarsUtils.registerPartialToContainer(
        "accordion-portfolio-history",
        "template-monovalue-datalist"
    );

    var handlebarPortfolioHistoryManagementRowTemplate = Handlebars.compile(window["template-portfolio-history-management-row"].innerHTML);

</script>

<script type="module">

    window.initPortfolioHistoryHierarchyLabels = () => {
        setTextContentWithTopHierarchyName("[id^='hierarchy-level-portfolio-chart-']");
    }

    window.navigateToManagePortfolioAllocationData = () => {
        const portfolioId = document.querySelector("[name='portfolioId']").value;
        navigateTo(`/portfolio/${portfolioId}/history/manage`);
        loadClasses();
    }

    function loadClasses() {
        const datalist = window["datalist-classes"];
        htmx.trigger(datalist, "load-classes");
    }

    window.maskTagInput = (inputElement) => {
        let value = inputElement.value;
        if (value) {
            value = value.toUpperCase();
            value = value.replace(" ", "");
        }
        inputElement.value = value;
    }

    const portfolioAllocationManagementTBodyPrefix = "portfolio-allocation-management-rows-";

    // Authored by: GitHub Copilot
    window.addPortfolioHistoryManagementRow = (observationTimestampId) => {

        const tbodyId = portfolioAllocationManagementTBodyPrefix + observationTimestampId
        const tbody = window[tbodyId];
        const nextIndex = getNextPortfolioHistoryManagementIndex(observationTimestampId);
        const newRowHtml = handlebarPortfolioHistoryManagementRowTemplate({
            allocationIndex: nextIndex,
            observationTimestampId: observationTimestampId
        });

        tbody.insertAdjacentHTML("beforeend", newRowHtml);

        // Find the first input field in the newly added row and focus it
        const firstInputFieldName = `allocations[${nextIndex}][assetTicker]`;
        const firstInputField = tbody.querySelector(`input[name="${firstInputFieldName}"]`);

        if (firstInputField) {
            firstInputField.scrollIntoView({behavior: 'smooth', block: 'center'});
            firstInputField.focus();
        }
    }

    function getNextPortfolioHistoryManagementIndex(observationTimestampId) {
        const tbody = window[portfolioAllocationManagementTBodyPrefix + observationTimestampId];
        const rows = tbody.querySelectorAll("tr");
        return rows.length;
    }

    const assetActionButtonIdentities = {
        search: {
            classes: "btn btn-primary btn-xs",
            iconClasses: "bi bi-search"
        },
        reset: {
            classes: "btn btn-danger btn-xs",
            iconClasses: "bi bi-x-circle"
        }
    }

    window.assetButtonActionClickHandler = (index, observationTimestampId) => {

        const actionButton = window[`asset-ticker-button-alloc-${index}-obs-${observationTimestampId}`];
        const rowAssetElements = {
            actionButton,
            assetTickerInput: window[`asset-ticker-input-alloc-${index}-obs-${observationTimestampId}`],
            assetTickerMessage: window[`asset-ticker-message-alloc-${index}-obs-${observationTimestampId}`],
            assetNameInput: window[`asset-name-input-alloc-${index}-obs-${observationTimestampId}`],
            assetIdInput: window[`asset-id-input-alloc-${index}-obs-${observationTimestampId}`]
        };

        if (actionButton.className === assetActionButtonIdentities.search.classes) {
            getAsset(index, rowAssetElements);
        } else if (actionButton.className === assetActionButtonIdentities.reset.classes) {
            resetAsset(rowAssetElements);
        }
    }

    function getAsset(index, rowAssetElements) {

        const {assetTickerInput, assetNameInput, assetIdInput, assetTickerMessage} = rowAssetElements;

        assetTickerInput.setCustomValidity("");
        assetTickerInput.reportValidity();

        const assetTicker = assetTickerInput.value;
        if (!assetTicker) {
            assetTickerInput.setCustomValidity("Required for search");
            assetTickerInput.reportValidity();
            return;
        }

        fetch("/api/assetssss/" + assetTicker)
            .then(response => {
                if (!response.ok) {
                    const error = new Error("Network response was not ok");
                    error.response = response;
                    throw error;
                }
                return response;
            })
            .then(response => response.json())
            .then(jsonBody => {
                switchAssetActionButtonIdentity(rowAssetElements, assetActionButtonIdentities.reset);
                assetTickerInput.readOnly = true;
                assetTickerInput.value = jsonBody.ticker;
                assetNameInput.style.display = "";
                assetNameInput.readOnly = true;
                assetNameInput.value = jsonBody.name;
                assetIdInput.value = jsonBody.id;
                assetTickerMessage.style.display = "none";
            })
            .catch(error => {

                const response = error.response;

                const contentType = response.headers.get("content-type");

                if (contentType && contentType.includes("application/json")) {
                    response.json().then(jsonBody => {
                        if (jsonBody.errorMessage === "Data not found") {
                            switchAssetActionButtonIdentity(rowAssetElements, assetActionButtonIdentities.reset);
                            assetTickerInput.readOnly = false;
                            assetNameInput.style.display = "";
                            assetNameInput.readOnly = false;
                            assetTickerMessage.style.display = ""
                        }
                    })

                } else {
                    // TODO add toast for errors
                    console.error("Error fetching asset:", error);
                }


            })
        ;
    }

    function switchAssetActionButtonIdentity(rowAssetElements, identity) {
        const {actionButton} = rowAssetElements;
        actionButton.className = identity.classes;
        actionButton.innerHTML = `<span class="${identity.iconClasses}"></span>`;
    }

    function resetAsset(rowAssetElements) {
        const {assetTickerInput, assetNameInput, assetIdInput, assetTickerMessage} = rowAssetElements;
        assetTickerInput.value = "";
        assetTickerInput.focus();
        assetTickerInput.readOnly = false;
        assetNameInput.value = "";
        assetNameInput.style.display = "none";
        assetNameInput.readOnly = false;
        assetIdInput.value = "";
        assetTickerMessage.style.display = "none";
        switchAssetActionButtonIdentity(rowAssetElements, assetActionButtonIdentities.search);
    }

    //TODO custom from validation

</script>

<script id="portfolio-allocation-chart-options" type="application/json">
    {
        "type": "doughnut",
        "cutout": "35%",
        "measuramentUnit": "CURRENCY"
    }
</script>
