<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
</head>
<body>

<h1>Hello, World!</h1>

<div hx-ext="client-side-templates">
    <div hx-get="/api/tests" hx-target="#results" hx-trigger="load" handlebars-template="test-template">
        <ul id="results">
            <li>loading...</li>
        </ul>
    </div>

    <template id="test-template">
        <ul>
            {{#each .}}
            <li>{{testField1}} - {{testField2}}</li>
            {{/each}}
        </ul>
    </template>

    <div hx-get="src/chart/chart.html" hx-swap="innerHTML" hx-trigger="load"></div>

</div>

<!-- TODO: parcel processing breakes the lib. Find a fix -->
<script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
<script defer src="node_modules/handlebars/dist/handlebars.js"></script>
<script defer src="node_modules/htmx-ext-client-side-templates/client-side-templates.js"></script>


</body>
</html>
